body {
    font-family: "Arial";
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
}

canvas {
    border: 1px solid #fff;
    background-color: #000;
}

#copyright {
    margin-top: 20px;
}

#Directedby {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

#mainContainer {
    text-align: center;
}

#logoImage {
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

#message {
    font-size: 24px;
    margin-bottom: 20px;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#backButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#levelButtons {
    margin-top: 20px;
}

#levelButtons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

#timer {
    font-size: 20px;
    margin-bottom: 20px;
}

.bomb-1 { color: blue; }
.bomb-2 { color: green; }
.bomb-3 { color: orange; }
.bomb-4 { color: red; }
.bomb-5 { color: purple; }
.bomb-6 { color: maroon; }
.bomb-7 { color: teal; }
.bomb-8 { color: navy; }

